.board-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 560px;
  height: 560px;
  border: 2px solid #333;
  margin: auto;
}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.black {
  background-color: #769656;
}

.square.white {
  background-color: #eeeed2;
}


/* adding pieces to the css to begin testing the code */

.piece {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.player-piece {
  background-color: red;
}

.ai-piece {
  background-color: black;
}
